<%- include("../partials/layouts.ejs") %>
<style>
    /* Custom CSS to change the background color of input fields */
    .form-control {
        background-color: lightblue;
    }
</style>
<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Sidebar Start -->
        <%- include("../partials/adminHeader.ejs") %>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%- include("../partials/adminNavbar.ejs") %>
            <!-- Navbar End -->


            
            <div class="container" style="background-color: antiquewhite;">
                <h1 style="text-align: center; color: rgb(17, 13, 13);">Edit Product</h1>
                <div class="d-flex justify-content-center mt-5 " style="min-height: 100vh;">
                    <div>
                        
                        <form action="/admin/editproducts/<%= product.id %>" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                            <!-- Add your form content here -->
                            <div class="form-group">
                                <label for="name">Product Name:</label>
                                <input type="text" id="name" name="name" value="<%= product.name %>" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="category">Category:</label>
                                <select id="category" name="category" class="form-control" required>
                                    <option value="Equipments" <%= product.category === 'Equipments' ? 'selected' : '' %>>Equipments</option>
                                    <option value="Clothing" <%= product.category === 'Clothing' ? 'selected' : '' %>>Clothing</option>
                                    <option value="Supplements" <%= product.category === 'Supplements' ? 'selected' : '' %>>Supplements</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea id="description" name="description" rows="6" cols="40" class="form-control" required><%= product.description %></textarea>
                            </div>
                            <div class="form-group">
                                <label for="status">Status:</label>
                                <input type="text" id="status" name="status" value="<%= product.status %>" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="price">Price:</label>
                                <input type="number" id="price" name="price" value="<%= product.price %>" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="image">Product Image:</label>
                                <input type="file" id="image" name="image" accept="image/*" class="form-control-file">
                            </div>
                            <div class="form-group">
                                <label for="additionalimages">Additional Images:</label>
                                <input type="file" id="additionalimages" name="additionalimages" accept="image/*" multiple class="form-control-file" required>
                            </div>
                          
                            <button type="submit" class="btn btn-primary">Update Product</button>
                        </form>
                    </div>
                </div>
         

               
            </div>
        
            


            <!-- Footer Start -->
            <%- include("../partials/adminfooter.ejs") %>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    