<%- include("../partials/layouts.ejs") %>

<%- include("../partials/adminHeader.ejs") %>
        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%- include("../partials/adminNavbar.ejs") %>
            <!-- Navbar ends -->

            <!-- Blank Start -->
            <div id="products" style="display: flex;justify-content: center;">
              <div class="row justify-content-center">
                <% product.forEach(product => { %>
                  <div class="col-lg-3 col-md-6 col-sm-6 mx-2 my-2">
                    <div class="card shadow-2-strong" style="width: 16rem;">
              
                      <a href="/singleproduct/<%= product._id %>">
                        <img src="/uploads/<%= product.image %>" alt="<%= product.name %>" class="card-img-top" style="max-height: 200px;"> <!-- Adjust the image size -->
                      </a>
                      <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Price: <%= product.price %> $</h5>
                        <p class="card-text"><%= product.description %></p>
                        <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto" id="mon">
                          <form action="/admin/editproducts/<%= product.id %>" method="get">
                            <input type="hidden" name="productId" value="<%= product._id %>">
                            <button type="submit" class="btn btn-primary shadow me-1">Edit</button>
                          </form>
                          <form action="/admin/delete/<%= product.id %>" method="get">
                            <input type="hidden" name="productId" value="<%= product._id %>">
                            <button type="submit" class="btn btn-primary shadow-0 me-1">Delete</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                <% }); %>
              </div>
            </div>
            <%- include("../partials/adminfooter.ejs") %>
             </div>
            
            <!-- Blank End -->

           