<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Your head content here -->
    <style>
        /* Custom CSS to increase table border width */
        table.table-bordered th, table.table-bordered td {
            border: 2px solid #000; /* You can adjust the border width as needed */
        }
    </style>

</head>
<body style="background-color: rgb(237, 236, 235);">
    <%- include("../partials/header.ejs") %>
    <div class="container">
        <h1 class="my-4" style="text-align: center;">My Orders</h1>
        <div class="tablecontainer">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Order ID</th>
                        <th>Payment Method</th>
                       <th>Total Price</th>
                       <th>Order Date</th>
                       <th>Status</th>
                       <th>Cancel Order</th>
                    
                        <!-- Add other table headings as needed -->
                    </tr>
                </thead>
                <tbody>
                    <!-- Inside the loop where you generate rows for each order -->
<% order.forEach(order => { %>
    <tr>
        <td><%= order._id %></td>
        <td><%= order.paymentMethod %></td>
        <td><%= order.totalPrice %></td>
        <td><%= new Date(order.orderDate).toLocaleDateString() %></td>
        <td><%= order.status %></td>
        <td>
            <% if (order.status === 'Pending' || order.status === 'Shipped') { %>
                <form action="/cancelorder/<%= order._id %>" method="post">
                    <textarea name="cancelReason" rows="3" cols="30" placeholder="Enter cancel reason"></textarea>
                    <button type="submit" class="btn btn-danger">Cancel</button>
                </form>
            <% } else if (order.acceptReturn) { %>
                <span>Order is returned</span>
            <% } else if (order.rejectReturn) { %>
                <span>This order can't be returned</span>
            <% } else if (order.isReturned) { %>
                <span>Order return request sent</span>
            <% } else if (order.status === 'Delivered') { %>
                <a href="/returnOrder/<%=order._id%>">
                    <button type="submit" class="btn btn-info">Return</button>
                </a>
            <% } else if (order.status === 'Canceled') { %>
                <span>Order Canceled</span>
            <% } %>
        </td>
   </tr>
<%});%>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
