<!-- wallethistory.ejs -->
<%- include("../partials/header.ejs") -%>

<div class="container">
  <h4 class="mt-4" style="text-align: center;">Wallet History</h4>
  <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
    <table class="table table-bordered mt-4">
      <thead class="thead-light">
        <tr>
          <th>Date</th>
          <th>Type</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% transactions.forEach(transaction => { %>
          <tr>
            <td><%= new Date(transaction.date).toLocaleString(undefined, { day: 'numeric', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit' }) %></td>
            <td><%= transaction.type %></td>
            <td>
              <% if (transaction.type === 'Credit') { %>
                <span style="color: green;">+<%= transaction.amount %></span>
              <% } else { %>
                <span style="color: red;"><%= transaction.amount %></span>
              <% } %>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>


<%- include("../partials/footer.ejs") -%>
